@model IEnumerable<Product>

<h2>Products</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
             <th>Edit</th> 
             <th>Delete</th>
            <td>Created By</td>
            <td>Created At</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                 <td>

                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-outline-warning">Edit</a>
                
                 </td> 
                 <td>
                
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-outline-danger">Delete</a>
                
                 </td> 
                 <td></td>
                 <td></td>
            </tr>
        }
    </tbody>
</table>